* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.main {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url("img/02.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
}

.logo img{
	position: relative;
	left: 1150px;
	width: 70px;
	height: 90px;
	top: -30px;
}

.logo2 img{
	position: relative;
	left:-80px;
	width: 180px;
	height: 130px;
	top: -40px;
}

.logo3 img{
	position: relative;
	left: 1000px;
	width: 60px;
	height: 80px;
	top: -30px;
}

img{
	width: 50px;
	height: 50px;
	margin-top: 15px;	
}
.content {
	top: 30%;
	width: 100%;
	text-align: center;
	color: white;
	position: absolute;
	transform: translateY(-50%);
}
.content h1{
	font-family: myriad pro;
	font-size: 50px;
	margin-top: 60px;
	margin-left: 20px;
}
.content p {
	margin: 28px auto;
	font-weight: 100;
	line-height: 25px;

}
.btn-floating {
	position: relative;
	left: 50px;
	top: 250px;
	overflow: hidden;
	width: 80px;
	height: 80px;
	border-radius: 100px;
	border: 0;
	z-index: 9999;
	color: white;
	transition: .2s;
	margin-top: 50px;
	padding-right: 5px;

}
.btn-floating:hover {
	width: auto;
	padding: 0 20px;
	cursor: pointer;
	background-color: #77889998;
}
.btn floating span {
	font-size: 16px;
	margin-left: 10px;
	transition: .2s;
	line-height: 0px;
	display: none;;
}
.btn-floating:hover span {
	display: inline-block;
}
.btn-floating:hover img {
	margin-bottom: -3px;
}
.btn-floating.komando {
	bottom: 25px;
	left: 100px;
}
.btn-floating.simkp {
	bottom: 25px;
	left: 150px;
}
.btn-floating.email {
	bottom: 25px;
	left: 200px;
}
.btn-floating.pmo{
	bottom: 25px;
	left: 250px;
}
.btn-floating.fix {
	bottom: 25px;
	left: -230px;
	top: 380px;
	padding-right: 10px;
}
.btn-floating.cos {
	bottom: 25px;
	left:-190px;
	top: 380px;
}
.btn-floating.sap {
	bottom: 25px;
	left: -140px;
	top: 380px;
}

@media only screen and (max-width: 720px) {
	.main{width: 270vw;
	height: 100vh;}, 
	.logo img, .logo img2, .btn-floating, .btn-floating:hover, .btn-floating.komando, .btn-floating.simkp, 
	.btn-floating.email, .btn-floating.fix, .btn-floating.cos, .btn-floating.sap {width: 100%; height: 100%; position: absolute;}
}