* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.main {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url("02.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.logo img{
	position: relative;
	left:1300px;
	width: 80px;
	height: 100px;
	top: -30px;
}

.logo2 img{
	position: relative;
	left:-15;
	width: 200px;
	height: 150px;
	top: -50px;
}
img{
	width: 50px;
	height: 50px;
	margin-top: 15px;	
}
.btn-floating {
	position: relative;
	left: 150px;
	top: 200px;
	overflow: hidden;
	width: 80px;
	height: 80px;
	border-radius: 100px;
	border: 0;
	z-index: 9999;
	color: white;
	transition: .2s;
	margin-top: 50px;
	padding-right: 5px;

}
.btn-floating:hover {
	width: auto;
	padding: 0 20px;
	cursor: pointer;
	background-color: #77889998;
}
.btn floating span {
	font-size: 16px;
	margin-left: 10px;
	transition: .2s;
	line-height: 0px;
	display: none;;
}
.btn-floating:hover span {
	display: inline-block;
}
.btn-floating:hover img {
	margin-bottom: -3px;
}
.btn-floating.komando {
	bottom: 25px;
	left: 200px;
}
.btn-floating.simkp {
	bottom: 25px;
	left: 250px;
}
.btn-floating.email {
	bottom: 25px;
	left: 300px;
}
.btn-floating.pmo{
	bottom: 25px;
	left: 350px;
}
.btn-floating.fix {
	bottom: 25px;
	left: -130px;
	top: 350px;
	padding-right: 10px;
}
.btn-floating.cos {
	bottom: 25px;
	left:-80px;
	top: 350px;
}
.btn-floating.sap {
	bottom: 25px;
	left: -30px;
	top: 350px;
}

@media only screen and (max-width: 720px) {
	.main{width: 260%;
	height: 100vh;}, 
	.logo img, .logo img2, .btn-floating, .btn-floating:hover, .btn-floating.komando, .btn-floating.simkp, 
	.btn-floating.email, .btn-floating.fix, .btn-floating.cos, .btn-floating.sap {width: 100%; height: 100%;}
}